#reviews{
    text-align: center;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0;
    background-color: #008fd0;
    color: white;
    align-items: center;
    padding: 40px 0 60px 0;
}

#reviews h2{
    font-size: 32px;
    margin: 0 auto;
}

#reviews_paragraph1{
    max-width: 600px;
    font-size: 18px;
}

#swiper{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.swiper-arrow {
    box-sizing: border-box;
    width: 60px;
    height: 60px;
    margin: 0;
    border-radius: 50%;
    background-color: white;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-arrow img{
    border-radius: 50%;
}

.review-card{
    width: 700px;
    margin: auto 50px;
    text-align: left;
    background-color: white;
    border-radius: 7px;
    display: flex;
    box-shadow: 0 2px 4px #00000022;
}

 .review-card_icon{
    box-sizing: border-box;
    width: 20%;
    padding: 30px;
    display: flex;
    align-items:center;
 }

.review-card_name{
    margin-top: 5px;
    font-size: 18px;
    color: #282d5c;
    font-weight: bolder;
}

 .review-card_text{
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: column;
    margin: 20px;
 }
 
#review-card_paragraph2{
    display: flex;
    justify-content: space-between;
    margin: 0;
    font-size: 14px;
    letter-spacing: -.1px;
    margin-top: 5px;
    padding: 0;
    color: #282d5c;
    box-sizing: border-box;
    color: #008fd0;
}

#feefo{
    margin-top: 25px;
    max-width: 250px;
}

#right{
    text-align: right;
}

